.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
}

.content {
  flex: 1;
}

.footer {
  margin-top: auto;
}
